.content {
    display: flex;
    background-color:#EEF4F0 ;
    padding: 32px;
    align-items: center;
    border-bottom: dashed #6e8d75;
}

.content h2 {
    font-size: 24px;
    margin: 12px;
    padding: 12px;
    text-align: center;
    display: flex;
    flex-direction: row;
    
}

.content img {
    max-width: 250px;
    display: inline;
    margin:24px;
    border: solid #6e8d75;
}