/* header styling*/

header {
    padding: 25px;
    background-color:#3F6E49;
    color:white;
}


header ul li {
    float:right;
    display:inline;
    list-style: none;
    padding-left: 20px;
    padding-top: 12px;
}

h1 {
    display: inline;
    padding-top: 20px;
    margin: 5px;
}

/* anchor styling for full page*/

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: black;
}