main {
    display: flex;
    flex-wrap: wrap;
    background-color: #314b378a;
    padding: 12px;
    border-top: dashed #6e8d75;
    border-bottom: dashed white;
    justify-content: center;
}

main h2 {
    color: white;
    margin: 12px;
    padding: 12px;
    text-align: center;
}

#card {
    display: flex;
    background-color: #314b3700;
    padding: 36px;
}

/*flex container for smaller images*/

.images { 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#large-image {
    width: 25rem;
    padding: 12px;
    filter: brightness(40%);
}

#large-image:hover{
    transition: 0.5s;
    color: black;
}
.project-images{
    width: 25rem;
    padding: 12px;
    padding-left: 36px;
    min-height: 274.66px;
    max-height: 274.66px;
    filter: brightness(40%); 
    position: relative;
}

.click-link {
    position: relative;
    text-align: center;
}
.click-link h3{
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 25%;
    right: 25%;
    color: white;
}
/* neon glow for anchor hover*/

.click-link h3:hover{
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px rgb(10, 73, 52),
    0 0 151px rgb(14, 77, 56);
}

.project-images:hover{
    filter: blur(10px), brightness(30%);
    transition: 0.5s;
}